@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes colorCycle {
  0%, 100% { color: #3b82f6; }   /* Azul */
  33% { color: #f59e0b; }        /* Naranja */
  66% { color: #10b981; }        /* Verde */
}

.icon-animated {
  animation: colorCycle 3s infinite; /* Ciclo de color continuo */
}

.icon-hover-effect {
  transition: transform 0.3s ease, color 0.3s ease; /* Transición suave en hover */
}

.icon-hover-effect:hover {
  transform: scale(1.3); /* Escala al pasar el cursor */
}
